@import url("https://fonts.googleapis.com/css?family=Assistant:400,600,700,800");
@import url("https://necolas.github.io/normalize.css/7.0.0/normalize.css");
* {
  margin: 0;
  padding: 0;
  clear: both;
  font-family: 'Assistant', sans-serif;
  list-style: none;
  text-decoration: none;
  color: #424242;
}

header {
  border-bottom: 1px solid #a3a3a3;
}

header .vslogo {
  text-align: center;
  padding: 20px 0 10px 0;
}

header .vslogo img {
  width: 115px;
  height: auto;
}

header nav {
  font-weight: 700;
}

header nav .menu-btn {
  display: block;
  text-align: center;
  padding: 10px;
  font-size: 1.1em;
  background-color: #f4f4f4;
}

header nav ul {
  display: none;
}

header nav ul li {
  display: block;
  text-align: center;
}

header nav ul li a {
  display: block;
  padding: 5px;
}

header nav ul li:hover {
  background-color: #f4f4f4;
}

header .pull-right {
  display: none;
  margin-top: 10px;
}

header .pull-right .profile-opt {
  text-align: center;
  padding: 8px;
}

header .pull-right .profile-opt img {
  height: 24px;
  width: auto;
  vertical-align: middle;
  margin-right: 5px;
}

header .pull-right .profile-opt span {
  display: inline-block;
  vertical-align: middle;
}

header .pull-right .profile-opt span p {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

header .pull-right .profile-opt span img {
  margin: 0;
  height: 9px;
  width: auto;
}

header .pull-right .shop-cart {
  text-align: center;
  display: block;
  padding: 8px;
}

header .pull-right .shop-cart img {
  height: 25px;
  vertical-align: middle;
}

header .pull-right .shop-cart p {
  font-weight: 700;
  font-size: 1.1em;
  color: #59c140;
  display: inline-block;
}

.side-library .curriculum li a {
  display: inline-block;
  overflow: hidden;
  background-color: #59c140;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
}

.side-library .curriculum li a img {
  padding: 3px;
  width: 10px;
  margin: 6px 8px;
}
