@import url('https://fonts.googleapis.com/css?family=Assistant:400,600,700,800');
@import url('https://necolas.github.io/normalize.css/7.0.0/normalize.css');

* {
    margin: 0;
    padding: 0;
    clear: both;
    font-family: 'Assistant', sans-serif;
    list-style: none;
    text-decoration: none;
    color: $dark-gray;
}

.rotated {
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

body {
    display: none;
}

.wrapper {
    max-width: 1200px;
}

input, select {
    padding: 7px 13px;
    @include border-radius(50px);
    border: $border;
    font-size: 0.9em;
}

// Carousel full-width
.carousel-full-width {
    height: 300px;
    width: 100%;
    overflow: hidden;
    .carousel-images {
        height: inherit;
        width: 400%;
        display: flex;
        div {
            height: inherit;
            width: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
    .car-control-prev, .car-control-next{
        height: 60px;
        width: auto;
        cursor: pointer;
        position: relative;
        padding: 40px 10px;
    }
    .car-control-next {
        float: right;
    }
}

@media (min-width: 1400px) {
    .wrapper {
        margin-left: 10%;
    }
}

@media (min-width: 1800px) {
    .wrapper {
        margin-left: 15%;
    }
}

@media (min-width: 2200px) {
    .wrapper {
        margin-left: 25%;
    }
}



@media (min-width: 1000px) {
    .main-cont {
        display: inline-block; 
        vertical-align: top;
        max-width: 920px;
    }
    .carousel-full-width {
        .car-control-prev, .car-control-next{
            height: 40px!important;
        }
    }
    .pull-right {
        float: right;
    }
}