header {
    border-bottom: $border;
    margin-bottom: 10px;
    .vslogo {
        text-align: center;
        padding: 20px 0 10px 0;
        img {
            width: 115px;
            height: auto;
        } 
    }
    nav {
        font-weight: 700;
        .menu-btn{
            display: block;
            text-align: center;
            padding: 10px;
            font-size: 1.1em;
            background-color: $light-gray;
        }
        ul {
            display: none;
            li {
                display: block;
                text-align: center;
                a {
                    display: block;
                    padding: 5px;
                }
            }
            .active {
                border-bottom: $border;
            }
            .active:hover a {
                border: none;
            }
        }
    }
    .pull-right {
        display: none;
        margin-top: 10px;
        .profile-opt {
            text-align: center;
            padding: 8px;
            img {
                height: 24px;
                width: auto; 
                vertical-align: middle;
                margin-right: 5px;
            }
            span {
                display: inline-block;
                vertical-align: middle;
                margin-right: 8px;
                p{
                    display: inline-block;
                    vertical-align: middle;
                    font-weight: 600;
                }
                img {
                    margin: 0;
                    height: 9px;
                    width: auto;
                    cursor: pointer; 
                }
            }
        }
        .shop-cart {
            text-align: center;
            display: block;
            padding: 8px;
            img {
                height: 25px;
                vertical-align: middle;
            }
            p {
                font-weight: 700;
                font-size: 1.1em;
                color: $green;
                display: inline-block;
            }
        }
        .active {
            border-bottom: 2px solid $green;
        }
    }
}

@media (min-width: 1000px) {
    header {
        margin-bottom: 0;
        .vslogo {
            text-align: left;
            padding: 20px;
            display: inline-block;
            width: 250px;
            img {
                width: 115px;
                height: auto;
            } 
        }
        nav {
            display: inline-block;
            .menu-btn{
                display: none;
            }
            ul {
                display: initial;
                li {
                    display: inline-block;
                    font-size: 1.3em;
                    a {
                        padding: 5px 15px;
                    }
                }
                li:hover {
                    background-color: initial;
                }
                li:hover a {
                    border-bottom: $border;
                }
            }
        }
        .pull-right {
            display: inline-block;
            margin-top: 10px;
            float: right;
            text-align: right;
            .profile-opt {
                padding: 8px;
            }
            .shop-cart {
                text-align: right;
                display: inline-block;
                padding: 8px;
                margin-right: 15px;
                img {
                    height: 25px;
                    vertical-align: middle;
                }
                p {
                    font-weight: 700;
                    font-size: 1.1em;
                    color: $green;
                    display: inline-block;
                }
            }
        }
    }
}