.side-library {
    .curriculum {
        li {
            img {

            }
            .info {
                p {

                }
                span {

                }
            }
            a {
                display: inline-block;
                overflow: hidden;
                background-color: $green;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                text-align: center;
                img {
                    padding: 3px;
                    width: 10px;
                    margin: 6px 8px;
                }
            }
        }
    }
}