.side-library {
    border-bottom: $border;
    h3{
        cursor: pointer;
        text-align: center;
        padding: 10px;
        font-size: 1.1em;
        background-color: $light-gray;
    }
    .search-icon {
        display: none;
        margin: 10px 0;
        text-align: center;
        input {
            padding: 7px 13px;
            @include border-radius(50px);
            border: $border;
            margin-right: 5px;
            font-size: 0.9em;
        }
        img {
            height: 20px;
            vertical-align: middle;
        }
    }
    .filter {
        display: none;
        margin-bottom: 10px;
        text-align: center;

        select {
            padding: 6px 12px;
            @include border-radius(50px);
            border: $border;
            margin-right: 5px;
            font-size: 0.9em; 
            width: 200px;           
        }
    }
    .main-library {
        display: none;
    }

    .curriculum {
        h5 {
            background-color: $gray;
            padding: 6px 10px;
            cursor: pointer;
            color: #fff;
            letter-spacing: 0.02em;
            img {
                height: 7px;
                float: right;
                margin-top: 4px;
                @include transition (150ms);
            }
        }
        ul {
            padding: 5px 10px;
        }
        li {
            padding: 6px 0;
            .container {
                // display: block;
            }
            img {
                vertical-align: middle;
                width: 70px;
                margin-right: 10px;
            }
            .info {
                display: inline-block;
                vertical-align: middle;
                margin-right: 20px;
                p {
                    font-weight: 700;
                }
                span {
                    font-size: 0.9em;
                }
            }
            .run-scene-btn {
                display: none;
                overflow: hidden;
                background-color: $green;
                width: 25px;
                height: 25px;
                border-radius: 50%;
                text-align: center;
                img {
                    padding: 3px;
                    width: 9px;
                    margin: 4px 6px;
                }
            }
        }
        li:last-child {
            margin-bottom: 20px;
        }
    }
}

@media (min-width: 1000px) {
    .side-library {
        border: $border;
        border-top: none;
        width: 250px;   
        display: inline-block;
        vertical-align: top;
        margin-right: 20px;
        h3{
            cursor: default;
            text-align: left;
            padding: 10px;
            background-color: initial;
        }
        .search-icon {
            display: block;
            padding: 0 10px 10px 10px;
            margin: 0;
            text-align: left;
        }
        .filter {
            display: block;
            text-align: left;
            padding: 0 10px 10px 10px;
            p{
                margin-bottom: 3px;
            }
        }
        .main-library {
            display: initial;
        }
        .curriculum {
            li {
                img {
                    width: 60px;
                }
                .run-scene-btn {
                    display: inline-block;
                    width: 22px;
                    height: 22px;
                    img {
                        width: 8px;
                        margin: 3px 5px;
                    }
                }
            }
        }
    }
}