$main-blue: #14b8f2;
$green: #59c140;
$light-gray: #f4f4f4;
$medium-gray: #bababa;
$gray: #a3a3a3;
$dark-gray: #424242;
$border: 1px solid $gray;

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
       -moz-border-radius: $radius;
        -ms-border-radius: $radius;
            border-radius: $radius;
  }